[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vscode/
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.exe
*.apk
*.dll
*.mp4
*.mov
*.avi
*.zip
*.rar
*.7z

# Plugin o framework ScriptableObject (modifica path se serve)
Assets/ThirdParty/
Assets/Plugins/ScriptableObjectFramework/
Assets/LowPolyTreesPack/

# ScriptableObject asset instances temporanei (facoltativo)
# *.asset

# Meta dei plugin ignorati
Assets/ThirdParty/*.meta


# Esclude tutto il pacchetto SO Architecture
Assets/SO Architecture/
Assets/SO Architecture/*.meta
